{% extends "base-admin.html" %}
{% block title %}添加分类{% endblock %}
{% block main %}
{#    <script language="JavaScript">#}
{#        function delete_confirm(e)#}
{#        {#}
{#            if (event.srcElement.outerText == "删除")#}
{#            {#}
{#                event.returnValue = confirm("删除是不可恢复的，你确认要删除吗？");#}
{#            }#}
{#        }#}
{#        document.onclick = delete_confirm;#}
{#    </script>#}
    <div>
        <h3>全部分类</h3>
        <div>
            {% for sort in allsort %}
                <a href="{% url dele_sort %}?sort={{ sort.id }}" class="btn" onClick="{if(confirm('确定要删除分类 {{ sort }} 吗?\n)){return true;}return false;}">{{ sort }}</a>
            {% endfor %}

        </div>
    </div>
        <br>
        <p class="alert alert-danger">单击某一分类将删除该分类！请慎重！</p>
    <hr>
    <h2>添加分类</h2>
    <hr>
    <form action="" method="post">{% csrf_token %}
        <table border="0" cellpadding="0" >
            {{ form.as_table }}
        </table>
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="添加"/>
            </div>
        </div>
    </form>

{% endblock %}