{% extends "base-admin.html" %}
{% block title %}修改登录密码{% endblock %}
{% block main %}
    <h2>修改登录密码</h2>
    <hr>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        <table border="0" cellpadding="0" >
            {{ form.as_table }}
        </table>
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="修改"/>
            </div>
        </div>
    </form>
{% endblock %}