{% extends "base-log.html" %}
{% block title %}Account Register{% endblock %}
{% block content %}
    <div class="form-actions span7 offset4" align="center">
    <form action="" method="post">{% csrf_token %}
        <table border="0" cellpadding="0" >
            {{form.as_table}}
        </table>
        <div id="button" class="btn-group">
            <a href="{%url login%}" class="btn btn-primary">登陆</a>
        </div>
        <div id="button" class="btn-group">
            <input type="submit" class="btn btn-info" >"注册"/>
        </div>
        <div id="button" class="btn-group">
            <a href="{%url index%}" class="btn bar-info">返回网站首页</a>
        </div>
    </form>
    </div>
{% endblock %}