{% extends "base-admin.html" %}
{% block title %}添加商品{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "uploadify.css" %}"/>
    <script type="text/javascript" src="{% static "jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "swfobject.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.uploadify.v2.1.4.min.js" %}"></script>

{% endblock %}
{% block main %}
    <h2>添加商品</h2>
    <hr>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        <table border="0" cellpadding="0" >
            {{ form.as_table }}
        </table>
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="添加"/>
            </div>
        </div>
    </form>
{% endblock %}