{% extends "base-admin.html" %}
{% block title %}添加品牌{% endblock %}
{% block main %}
    <div>
        <h3>全部品牌</h3>
        <hr>
        <div>
            {% for brand in allbrand %}
                <a href="#" class="btn" >
                    {{ brand }}</a>
            {% endfor %}
        </div>
        <br>
    </div>
    <hr>
    <h3>添加品牌</h3>
    <hr>
    <form action="" method="post">{% csrf_token %}
        <table border="0" cellpadding="0" >
            {{ form.as_table }}
        </table>
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="添加"/>
            </div>
        </div>
    </form>
{% endblock %}