{% extends "base-admin.html" %}
{% block title %}
    管理商品
{% endblock %}

{% block main %}
    <h2>商品管理</h2>
    <hr>
    <div>
        <div class="subnav">
            <ul class="nav nav-pills">
                <li>分类:</li>
                <li><a href="#" class="label active">全部</a></li>
                {% for sort in allsort %}
                    <li><a href="#" class="label">{{ sort }}</a></li>
                {% endfor %}
            </ul>
        </div>

    <hr>
    <table class="table table-bordered">
        <tr><td>图片</td><td>商品名</td><td>所属商铺</td><td>价格</td><td>功能</td></tr>
        {% for item in allitem %}
        <tr>
            <td width="100px"><img src="{{ item.img.url }}" alt="{{ item.it_name }}" width="98" height="98"></td>
            <td width="150px">{{ item.it_name }}</td>
            <td width="150px">{{ item.company }}</td>
            <td>{{ item.price }}</td>
            <td width="50px" align="center">
                <a href="dele/{{ item.id }}" class="btn btn-danger" onClick="{if(confirm('确定要删除 『{{ item.it_name }}』 吗?\n')){return true;}return false;}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}