<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>产品库_汽配人网，最全的汽车及配件批发市场</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    {% load static %}
    <link rel="stylesheet" href="{% static "reset-gitd-min_11.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "c2100106_11.css" %}" type="text/css">
{#    <link rel="stylesheet" href="{% static "bdsstyle.css" %}" type="text/css">#}
{#    <link rel="stylesheet" href="{% static "others.css" %}" type="text/css">#}
    <script language="javascript" src="{% static 'func.js' %}"></script>
    <script language="javascript" src="{% static 'logger.js' %}"></script>
    <script language="javascript" src="{% static 'getuname.js' %}"></script>
</head>
<body>
<div id="page" class="w950">
    <div id="header">
        <div id="mini-nav">
            <p class="login-info">您好，欢迎光临汽配人网！</p>

            <div class="login-panel">
                <fieldset>
                    <legend>会员登录</legend>
                    <form id="loginPanel" action="http://www.qipeiren.com/User/LoginCHK.asp" target="_blank" method="post" name="loginPanel">
                        <label for="userName">会员名</label>
                        <input id="userName" type="text" name="loginname" />
                        <label for="userPassword">密码</label>
                        <input id="userPassword" type="password" name="loginpass" />
                        <button type="submit">登陆</button>
                        <a href="http://www.qipeiren.com/User/Register1.asp" target="_blank">免费注册</a>
                    </form>
                </fieldset>
            </div>

            <div class="quick-menu">
                <ul>
                    <li><a href="http://www.qipeiren.com/" target="_blank">汽配人首页</a></li>
                    <li><a href="http://www.qipeiren.com/User/" target="_blank">我的旺铺</a></li>
                    <li class="last"><a href="http://www.auto333.com" target="_blank" class="h">国际站</a></li>
                </ul>
            </div>
        </div>
        <div id="list-header">
            <div class="logo-wrapper">
                <a href="http://www.qipeiren.com/" title="汽配人网"><img src="../images_11/qpr_logo_cnt.png" width="142" height="48" alt="汽配人网" /></a>
                <span>汽车汽配网上市场</span>
            </div>
            <div class="search-wrapper clearfix">
                <div class="searchtab-mod">
                    <ul class="searchtab-list">
                        <li class="first selected"><a href="http://www.qipeiren.com/Supply">产品</a></li>
                        <li><a href="http://www.qipeiren.com/Company/index.asp">公司</a></li>
                        <li><a href="http://www.qipeiren.com/so" class="tf">配件目录</a></li>
                        <li><a href="http://www.qipeiren.com/Need">求购</a></li>

                        <li class="last"><a href="http://www.qipeiren.com/News" target="_blank">资讯</a></li>
                    </ul>
                </div>
                <div class="search-pannel-c">
                    <div class="search-panel-field-c">
                        <form id="search" name="search" action="index.asp" method="get">

                            <input type="text" name="KeyWord" class="ser" value="" />
                            <button type="submit">找一下</button>

                        </form>
                    </div>
                    <span class="spl"></span>
                    <span class="spr"></span>

                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="list-catagroy">
        <div id="crumbs" class="under">
            <a href="http://www.qipeiren.com/">首页</a> &gt; <a href="http://www.qipeiren.com/Supply/">供应信息</a>
        </div>


        <div id="j-spu" class="spu-box">
            <div class="bg-x spu-box-bg"></div>

            <dl>
                <dt>零部件：</dt>
                <dd>
                    <p class="spu-item-all"><span>全部</span>|</p>
                    <ul class="spu-items">

                        <li ><a class="spu-item-title" href="101000p.htm">发动机系统</a></li>

                        <li ><a class="spu-item-title" href="102000p.htm">传动系统</a></li>

                        <li ><a class="spu-item-title" href="103000p.htm">行走系统</a></li>

                    </ul>
                </dd>
            </dl>
            <div class="bg-x spu-line"></div>
            <dl>
                <dt>整车：</dt>
                <dd>
                    <p class="spu-item-all"><span>全部</span>|</p>
                    <ul class="spu-items">

                        <li ><a class="spu-item-title" href="201000p.htm">载货汽车</a></li>

                        <li ><a class="spu-item-title" href="202000p.htm">越野汽车</a></li>

                        <li ><a class="spu-item-title" href="203000p.htm">自卸汽车</a></li>


                    </ul>
                </dd>
            </dl>

        </div>
    </div>
        <div class="layout grid-m0s170">
        <div class="col-main">
            <div class="main-wrap">
            <div class="list-content">
            <ul class="list-view clearfix">

            <li class="list-item">
        <div class="photo"><a href="http://www.qipeiren.com/Supply/supply-577619.htm" target="_blank" title="差速器壳总成/DZ95129320008">

            <img src="../UploadFile/UserProPic/2012/11/27/201211279354260241_s.jpg" alt="差速器壳总成/DZ95129320008" onload="iimgFix(this,98,98)" />

        </a></div>
        <div class="content under">
            <h4><a href="http://www.qipeiren.com/Supply/supply-577619.htm" target="_blank" class="Title" title="差速器壳总成/DZ95129320008">差速器壳总成/DZ95129320008</a></h4>
            <p class="info">图号：DZ95129320008 车型：陕汽  欧曼 产地：汉德车桥 品牌：汉德车桥 </p>
        </div>
        <div class="vip">
            <p class="release-company"><a href="http://JNLJ123.cn.qipeiren.com" target="_blank" rel="nofollow">济南蓝鲸汽配</a></p>
            <p class="release-area clearfix">山东济南</p>
            <img src="../images_11/vip.gif" alt="汽配旺铺" width="46" height="16" align="absbottom" /> 第<strong style="color:#FF0000">1</strong>年
        </div>
        <div class="contact-by under clearfix">
            <a href='tencent://message/?Uin=854989247'><img SRC=http://wpa.qq.com/pa?p=1:854989247:10 alt='点击这里给我发消息' height='16' /></a><br /><a class="ly" title="点此给卖家留言。" target="_blank" href="http://JNLJ123.cn.qipeiren.com/feedback.asp?skey=#add" rel="nofollow">站内留言</a><br /><a class="lx" title="点此查看卖家电话、传真、地址等具体联系方式。" target="_blank" href="http://JNLJ123.cn.qipeiren.com/contact.asp" rel="nofollow">联系方式</a><br />
        </div>
    </li>

            <li class="list-item">
        <div class="photo"><a href="http://www.qipeiren.com/Supply/supply-587980.htm" target="_blank" title="东风EQ1290紫罗兰半挂车车架线束底盘线束总成37Z54-24080-B/37Z54-24080-B">

            <img src="../UploadFile/UserProPic/2012/12/14/2012121417432681092_s.jpg" alt="东风EQ1290紫罗兰半挂车车架线束底盘线束总成37Z54-24080-B/37Z54-24080-B" onload="iimgFix(this,98,98)" />

        </a></div>
        <div class="content under">
            <h4><a href="http://www.qipeiren.com/Supply/supply-587980.htm" target="_blank" class="Title" title="东风EQ1290紫罗兰半挂车车架线束底盘线束总成37Z54-24080-B/37Z54-24080-B">东风EQ1290紫罗兰半挂车车架线束底盘线束总成37Z54-24080-B/37Z54-24080-B</a></h4>
            <p class="info">图号：37Z54-24080-B 车型：东风EQ1290 产地：D103 品牌：东风 型号：37Z54-24080-B 线芯材质：原厂 护套材质：原厂 用途：东风EQ1290紫罗兰半挂车车架线束底盘线束总成37Z54-24080-B </p>
        </div>
        <div class="vip">
            <p class="release-company"><a href="http://dffypj.cn.qipeiren.com" target="_blank" rel="nofollow">十堰飞扬工贸有限公司13733580103</a></p>
            <p class="release-area clearfix">湖北十堰</p>
            <img src="../images_11/vip.gif" alt="汽配旺铺" width="46" height="16" align="absbottom" /> 第<strong style="color:#FF0000">1</strong>年
        </div>
        <div class="contact-by under clearfix">
            <a href='tencent://message/?Uin=2623434508'><img SRC=http://wpa.qq.com/pa?p=1:2623434508:10 alt='点击这里给我发消息' height='16' /></a><br /><a class="ly" title="点此给卖家留言。" target="_blank" href="http://dffypj.cn.qipeiren.com/feedback.asp?skey=#add" rel="nofollow">站内留言</a><br /><a class="lx" title="点此查看卖家电话、传真、地址等具体联系方式。" target="_blank" href="http://dffypj.cn.qipeiren.com/contact.asp" rel="nofollow">联系方式</a><br />
        </div>
    </li>


        </ul>
            <div class="pageNav">
            <span class='current'>1</span>  <a href=p2.htm>2</a>  <a href=p3.htm>3</a>  <a href=p4.htm>4</a>  <a href=p5.htm>5</a>  <a href=p6.htm>6</a>  <a href=p7.htm>7</a>  <a href=p8.htm>8</a>  <a href=p9.htm>9</a>  <a href=p10.htm>10</a> ... <span class='next'><a href=p2.htm>下一页</a></span> <span style='font-size:12px'>共16671页</span>
            </div>
        </div>
        </div>
        </div>
        <div class="col-sub">
        <div id="gold" class="box">
            <div class="hd" title="黄金展位企业--实力铸就品牌"><a href="/ad.asp?373" target="_blank">黄金展位企业</a></div>
            <div class="bd">

            </div>
        </div>

        <div class="subad box"><a href='http://www.qipeiren.com/ad.asp?373' target='_blank'><img src='http://www.qipeiren.com/IndexPic/Ad/pp/373.gif' alt='' /></a></div>
        <div class="subad box"><a href='http://www.qipeiren.com/ad.asp?259' target='_blank'><img src='http://www.qipeiren.com/IndexPic/Ad/pp/259.gif' alt='' /></a></div>

        <div id="help" class="box">
            <div class="hd">
                <a name="c" id="c"></a><h3>库存促销</h3>
            </div>
            <div class="bd">
                <ul class="text-list">

                    <li><a title="东风天龙后制动毂" href="http://www.qipeiren.com/Supply/supply-587060.htm" target="_blank">东风天龙后制动毂</a></li>

                    <li><a title="东风康明斯ISDE欧三天锦水泵" href="http://www.qipeiren.com/Supply/supply-587034.htm" target="_blank">东风康明斯ISDE欧三天锦水泵</a></li>

                    <li><a title="库存促销东风天锦护风罩 1309011-KM6E0" href="http://www.qipeiren.com/Supply/supply-586055.htm" target="_blank">库存促销东风天锦护风罩 1309011-KM6E0</a></li>

                </ul>
            </div>
        </div>

        <div id="browsed" class="box">
            <div class="hd">
                <h3>您最近浏览过的商品</h3>
            </div>
            <div class="bd">
                <div class="pair clearfix">

                </div>
                <div class="clearrb">
                    暂无您浏览过的商品
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <div id="footer">
        <div class="foot-nav">
            <a
                    href="http://www.qipeiren.com/About/" target="_blank" rel="nofollow">关于我们</a> | <a
                href="http://www.qipeiren.com/About/Exempt.asp" target="_blank" rel="nofollow">法律声明</a> | <a
                href="http://www.qipeiren.com/About/Link.asp" target="_blank">友情链接</a> | <a
                href="http://www.qipeiren.com/sitemap.html" target="_blank">网站地图</a> | <a
                href="http://www.qipeiren.com/peijian/" target="_blank">产品大全</a> | <a
                href="http://www.qipeiren.com/chanpin/" target="_blank">产品归档</a> | <a
                href="http://www.qipeiren.com/qiye/" target="_blank">企业名录</a> | <a
                href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">鄂ICP备05024915号</a>
        </div>
        <div class="copyright">
            <p>版权所有 汽配人网 qipeiren@qipeiren.com 服务热线：0719-8311727</p>
            <p>Copyright &copy; 2005-2012 qipeiren.com, All Rights Reserved</p><p>主管单位：中国(十堰)汽配城管理办公室</p>
        </div>
    </div>
</div>
</body>
</html>
