{% extends 'base-index.html' %}
{% block title %}
    产品分类
{% endblock %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset-gird-min_11.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'c20100106_11.css' %}">
    <link rel="stylesheet" href="{% static 'bdsstyle.css' %}">
    <link rel="stylesheet" href="{% static 'others.css' %}">
    <script language="javascript" src="{% static 'func.js' %}"></script>
    <script language="javascript" src="{% static 'logger.js' %}"></script>
    <script language="javascript" src="{% static 'getuname.js' %}"></script>
{% endblock %}


{% block main %}
    <div id="content">
        <div class="list-catagroy">
        <div id="crumbs" class="under">
            <a href="/">首页</a> &gt; <a href="/index/classify/0.html/1">供应信息</a>
        </div>


        <div id="j-spu" class="spu-box">
            <div class="bg-x spu-box-bg"></div>

            <dl>
                <dt>分类：</dt>
                <dd>
                    <p class="spu-item-all">
                        <a href="/index/classify/0.html/1" class="spu-item-title">全部</a>|
                    </p>
                    <ul class="spu-items">
                        {% for sort in sorts %}
                            <li><a href="../{{ sort.id }}.html/1" class="spu-item-title">{{ sort.name }}</a></li>
                        {% endfor %}

                    </ul>
                </dd>
            </dl>
        </div>
    </div>
        <div class="layout grid-m0s170">
        <div class="col-main">
        <div class="main-wrap">
        <div class="list-content">

        <ul class="list-view clearfix">
        <p>{{ Warn }}</p>

        {% for item in items.object_list %}
            <li class="list-item">
                <div class="photo">
                    <a href="/view/{{ item.id }}.html" target="_blank" title="{{ item.it_name }}">
                        <img src="{{ item.img.url }}" alt="{{ item.it_name }}" onload="iimgFix(this,98,98)"  />
                    </a></div>
                <div class="content under">
                    <h4><a href="/view/{{ item.id }}.html" target="_blank" class="Title" title="{{ item.it_name }}">{{ item.it_name }}</a></h4>
                    <p class="info">{{ item.version }}</p>
                </div>
                <div class="vip">
                    <p class="release-company"><a href="{{ item.company.url }}" target="_blank" rel="nofollow">{{ item.company.name }}</a></p>
                    <p class="release-area clearfix">{{ item.brand }}</p>
                </div>
                <div class="contact-by under clearfix">
                    <a href='tencent://message/?Uin={{ item.company.qq }}'><img SRC=http://wpa.qq.com/pa?p=1:{{ item.company.qq }}:10 alt='点击这里给我发消息' height='16' /></a>
                    <br />
                    <a class="ly" title="点此给卖家留言。" target="_blank" href="" rel="nofollow">站内留言</a>
                    <br />
                    <a class="lx" title="点此查看卖家电话、地址等具体联系方式。" target="_blank" href="/store/{{ item.company.id }}/info.html" rel="nofollow">联系方式</a><br />
                </div>
            </li>
        {% endfor %}

    </ul>


    <div class="pageNav">
{#        <span class='current'>1</span>  #}
{#        <a href=p2.htm>2</a>  #}
{#        <a href=p10.htm>10</a> ... #}
{#        <span class='next'>#}
{#            <a href=p2.htm>下一页</a>#}
{#        </span>#}
{#        <span style='font-size:12px'>共16679页</span>#}
        <span class="pre">
        {% if items.has_previous %}
            <a href="{{ items.previous_page_number }}" title="Pre">上一页</a>
        {% endif %}
        </span>

        {% for p in page_range %}
            {% ifequal p items.number %}
                <span style="font-size:16px;" title="当前页">
                    <b>{{p}}</b>
                </span>
            {% else %}
                <a href="{{p}}" title="第{{p}}页">{{p}}</a>
            {% endifequal %}
        {% endfor %}
        <span class="next">
        {% if items.has_next %}
            <a href="{{ items.next_page_number }}" title="Next">下一页</a>
        {% endif %}
        </span>
        <span style='font-size:12px'>
            {%if items.paginator.num_pages%}共 {{ items.paginator.num_pages }} 页{%endif%}
        </span>
    </div>

    </div>
    </div>
    </div>
        <div class="col-sub">
        <div id="gold" class="box">
            {#ad location#}
        </div>

    </div>
    </div>
    </div>
{% endblock %}
