{% extends 'base-index.html' %}
{% block title %}
    汽配商城
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "reset-gird-min_11.css" %}">
    <link rel="stylesheet" href="{% static "i20110122.css" %}">
    <script language="javascript" src="{% static "getuname.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-1.4.2.js" %}"></script>
    <script type="text/javascript" src="{% static "index_2011.js" %}"></script>
{% endblock %}

{% block main %}


<div id="content">
<div class="layout grid-s6m0">
    <div class="col-main">
        <div class="main-wrap" >
            <div class="left-col">
                <div id="main-slider" class="box">
                    <div class="bd">
                        <div class="slider" >
                            <ul class="picture" >

                                <li><a href="{{ ad_middle.url1 }}" target="_blank"><img src="{{ ad_middle.loc1.url }}" width="470" height="168" alt="" /></a></li>
                                <li><a href="{{ ad_middle.url2 }}" target="_blank"><img src="{{ ad_middle.loc2.url }}" width="470" height="168" alt="" /></a></li>
                                <li><a href="{{ ad_middle.url3 }}" target="_blank"><img src="{{ ad_middle.loc3.url }}" width="470" height="168" alt="" /></a></li>

                            </ul>
                            <ul class="num clearfix" >
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="supply" class="box">
                    <div class="hd"><h3>最新入驻商铺</h3></div>
                    <div class="bd">
                        <ul class="info-list clearfix">
                        {% if new_stores %}
                            {% for store in new_stores %}
                                <li><a href="{{ store.url }}" target="_blank" title="{{ store.name }}">{{ store.name }}</a></li>
                            {% endfor %}
                        {% else %}
                            <p>尚无入驻商铺</p>
                        {% endif %}
                        </ul>
                    </div>
                </div>

                <div id="buy" class="box">
                    <div class="hd"><h3>最新上架商品</h3></div>
                    <div class="bd">
                        <ul class="info-list clearfix">
                            {% if new_items %}
                                {% for item in new_items %}
                                    <li><a href="{{ item.get_url }}" target="_blank" title="{{ item.it_name }}">{{ item.it_name }}</a></li>
                                {% endfor %}
                            {% else %}
                                <p> 尚无产品</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-col">
                <div id="news" class="box">
                    <div class="hd">
                        <ul class="tab-t clearfix">
                            <li class="selected">
                                <a href="" target="_blank">标签一</a>
                            </li>
                            <li class="last">
							    标签二
                            </li>
                        </ul>
                    </div>
                    <div class="bd">
                        <div id="tabCnt">
                            <div class="tab-c">
                                <ul class="info-list clearfix">
                                    <li><a href='' target='_blank'>tab1 content</a></li>
                                </ul>
                            </div>
                            <div class="tab-c hidden">
                                <ul class="info-list clearfix">
                                    <li><a href='' target='_blank'>tab2 content</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="supplier" class="box">
                    <div class="hd"><h3>供应商精选</h3></div>
                    <div class="bd">
                        <ul class="info-list clearfix">
{#                            <li><a href="" target="_blank" title="" class="gray"></a></li>#}
                        </ul>
                        <span id="btn5" class="list-up"></span>
                        <span id="btn6" class="list-down"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sub">
        <div id="recommend" class="box">
            <div class="hd"><h3>网站公告</h3></div>
            <div class="bd">
                <ul class="info-list clearfix">
                    {% for message in messages %}
                        <li><a href="{{ messages.get_url }}" target="_blank" style="color:#ff6600">{{ message.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ft"><!--<a href="#">更多</a> --></div>
        </div>

        <div id="latest" class="box">
            <div class="hd"><h3>标签</h3></div>
            <div class="bd">
                <ul class="info-list clearfix">
                    <li><a title="" href="" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="layout grid-m">
    <div id="banner" class="box">
        <div class="bd">
                <a href="{{ ad_6.url1 }}" target="_blank" ><img src="{{ ad_6.loc1.url }}" alt=""/></a>
                <a href="{{ ad_6.url2 }}" target="_blank" ><img src="{{ ad_6.loc2.url }}" alt=""/></a>
                <a href="{{ ad_6.url3 }}" target="_blank" ><img src="{{ ad_6.loc3.url }}" alt=""/></a>
                <a href="{{ ad_6.url4 }}" target="_blank" ><img src="{{ ad_6.loc4.url }}" alt=""/></a>
                <a href="{{ ad_6.url5 }}" target="_blank" ><img src="{{ ad_6.loc5.url }}" alt=""/></a>
                <a href="{{ ad_6.url6 }}" target="_blank" class="nomr"><img src="{{ ad_6.loc6.url }}" alt=""/></a>
        </div>
    </div>
</div>

<div class="layout grid-m">
    <div id="J_CategoryHover" class="category-main">


        {% for parent in parents %}
            <div class="category-item">
                <div class="category-list">
                    <div class="category-title clearfix">
                        <h4>
                            <a href="http://www.qipeiren.com/Supply/103000p.htm" target="_blank">{{ parent }}</a>
                        </h4>
                        {#流行#}
                        <span class="category-pop">
                        <a href='#' target='_blank'></a>
                        </span>
                    </div>

                    <ul class="clearfix">
                            {% for child in parent.get_children %}
                                <a href="#" target="_blank">{{ child }}</a>
                            {% endfor %}
                    </ul>

                </div>

                <div class="category-info">
                    <div class="category-text">
                        <ul class="info-list clearfix">

                        </ul>
                    </div>
                    <div class="category-ad">
                        <a href='htm' target='_blank' class='g'>
                        <img src='/Uploa2181435014608.jpg' width='95' height='65' alt='#' />
                        <br />全</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="layout grid-m">
    <div id="links" class="box">
        <div class="bd">
            <strong>友情链接：</strong>
            {% for link in links %}
                <a href="{{ link.url }}" target="_blank">{{ link.site }}</a>&nbsp;
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
