
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    {% block header %}

    {% endblock %}
</head>
    <body>
        <div id="page" class="w950">

            <div id="header">
                <div id="mini-nav">
                    <p class="login-info">您好，欢迎光临汽配商城！</p>

                    <div class="quick-menu">
                        <ul>
                            <li><a href="/accounts/" target="_blank">请登录</a></li>
                            <li><a href="/" target="_blank">汽配商城</a></li>
                        </ul>
                    </div>
                </div>


                <div id="top-header">
                    <div class="logo-search">
                        <div class="logo">
                            {% load static %}
                            <a href="/" title="汽配">
                                <img src="{% static "logo1.jpg" %}" width="154" height="56" alt="汽配人网" />
                            </a>
                        </div>
                    </div>

                    <div class="nav" style="background: url('/static/navbar.png') repeat scroll 0% 0% transparent;">
                        <ul class="clearfix">
                            <li class="w2"><a href="/">首页</a></li>
                            <li class="w3"><a href="/index/classify/0.html/1">产品</a></li>
{#                            <li class="w2"><a href="/news" target="_blank">资讯</a></li>#}
{#                            <li class="w2"><a href="/sorts" target="_blank">分类</a></li>#}
                            <li class="w2"><a href="#" target="_blank">关于</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            {% block main %}
            
            {% endblock %}

            <div id="footer">
                <div class="foot-nav">
                    <a  href="about/" target="_blank" rel="nofollow">关于我们</a> | <a
                        href="#" target="_blank" rel="nofollow">法律声明</a> | <a
                        href="#" target="_blank">友情链接</a>
                </div>
                <div class="copyright">
                    <p>版权所有 汽配商城</p>
                </div>
            </div>
        </div>
    </body>
</html>
