
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% load static %}
    <link rel="stylesheet" href="{% static "reset-gird-min_11.css" %}">
    <link rel="stylesheet" href="{% static "i20110122.css" %}">
    <script language="javascript" src="{% static "getuname.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-1.4.2.js" %}"></script>
    <script type="text/javascript" src="{% static "index_2011.js" %}"></script>
    {% block header %}
    
    {% endblock %}
</head>
    <body>
        <div id="page" class="w950">

            {% block main %}
            
            {% endblock %}

            <div id="footer">
                <div class="foot-nav">
                    <a  href="about/" target="_blank" rel="nofollow">关于我们</a> | <a
                        href="http://www.qipeiren.com/About/Exempt.asp" target="_blank" rel="nofollow">法律声明</a> | <a
                        href="http://www.qipeiren.com/About/Link.asp" target="_blank">友情链接</a>
                </div>
                <div class="copyright">
                    <p>版权所有 汽配商城</p>
                </div>
            </div>
            <span style="display:none">
                <script type="text/javascript">
                    document.write("<scr"+"ipt src=\"http://js.users.51.la/378264.js\" language=\"JavaScript\"></sc"+"ript>")
                </script>
            </span>
            <!-- Baidu Button BEGIN -->
            <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;mini=1&amp;pos=left&amp;uid=724880" ></script>
            <script type="text/javascript" id="bdshell_js"></script>
            <script type="text/javascript">
                var bds_config={"bdTop":250};
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
            </script>
            <!-- Baidu Button END -->
        
        </div>
    </body>
</html>
