<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
<title>湖北大豪动力设备有限公司0719-8368338_在线留言</title>
<meta name="keywords" content="湖北大豪动力设备有限公司一汽锡柴发动机,锡柴490发动机,锡柴4102机器,锡柴6110机器,锡柴奥威发动机,锡柴再制造发动机,东风汽车锡柴机,凯马汽车锡柴机,江淮汽车锡柴机,农用锡柴发动机,五征锡柴发动机,福田锡柴发动机,锡柴发电机组,客车锡柴发动机,装载机锡柴发动机">
<meta name="description" content="湖北大豪动力设备有限公司，优势供应一汽锡柴发动机,锡柴490发动机,锡柴4102机器,锡柴6110机器,锡柴奥威发动机,锡柴再制造发动机,东风汽车锡柴机,凯马汽车锡柴机,江淮汽车锡柴机,农用锡柴发动机,五征锡柴发动机,福田锡柴发动机,锡柴发电机组,客车锡柴发动机,装载机锡柴发动机系列产品，0719-8368338，需要一汽解放无锡柴油机厂,锡柴大豪F  L  M系列发动机,锡柴发电机组系列,请与湖北大豪动力设备有限公司联系，一流的质量有竞争力的价格周到的售后保障是您的不二选择!">
<link rel="stylesheet" type="text/css" href="message1_files/base-min.css">
<link rel="stylesheet" type="text/css" href="../static/index/3.css">
<link href="message1_files/wq_online.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="message1_files/jquery-1.js"></script>
<script type="text/javascript" src="../static/index/common.js"></script>
<script type="text/javascript" src="message1_files/wp_online.js"></script>
</head>
<body>

	<div id="top-wrap">
		<div class="tbar clearfix">
			<ul class="user-login">
				<li class="qpr"><a href="http://www.qipeiren.com/" title="汽配人网" target="_blank">汽配人网</a></li>
				<li id="nosigned" class="welcome"><span id="memberId1">您好, 欢迎来到汽配人网</span><a target="_self" href="http://www.qipeiren.com/User/UserLogin.asp">请登录</a><a target="_blank" href="http://www.qipeiren.com/User/Register1.asp">免费注册</a></li>
				<li class="rborder"><a target="_blank" title="汽配人首页" href="http://www.qipeiren.com/">汽配人首页</a><a target="_blank" title="找供应" href="http://www.qipeiren.com/Supply/">找供应</a><a target="_blank" title="找公司" href="http://www.qipeiren.com/Company/">找公司</a></li>
			</ul>
				<ul class="user-search">
					<li><div class="tpanel"><input class="top-key" name="tkey" id="tkey" type="text"></div></li>
					<li><input value="搜汽配人" class="top-but1" name="wholeSearch" id="wholeSearch" onclick="location.href='http://www.qipeiren.com/Supply/index.asp?KeyWord='+document.getElementById('tkey').value;" type="button"></li>
					<li><input value="搜本旺铺" class="top-but2" name="localSearch" id="localSearch" onclick="location.href='supplylist.asp?skey='+document.getElementById('tkey').value;" type="button"></li>
				</ul>
			
		</div>
	</div>


	<div id="header">
	
		<div id="wrap">
		
			<div class="logo" style="background: url(../UploadFile/UserSitePic/2012/10/3/p_950_w_90_h_20121031610549882.jpg) no-repeat center center;"></div>
		
			<h1 class="name">&nbsp;湖北大豪动力设备有限公司</h1>
			<div class="favorite"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://xichai.cn.qipeiren.com');" href="#">设为首页</a> | <a href="#" onclick="javascript:window.external.AddFavorite('http://xichai.cn.qipeiren.com','湖北大豪动力设备有限公司');">加入收藏</a></div>
		</div>
	
		<div id="nav">
			<ul class="clearfix">
			
				<li onclick="window.location.href='index.asp'"><a href="http://xichai.cn.qipeiren.com/index.asp">返回首页</a></li>
			
				<li onclick="window.location.href='supplylist.asp'"><a href="http://xichai.cn.qipeiren.com/supplylist.asp">供应产品</a></li>
			
				<li onclick="window.location.href='cominfo.asp'"><a href="http://xichai.cn.qipeiren.com/cominfo.asp">公司介绍</a></li>
			
				<li onclick="window.location.href='comnewslist.asp'"><a href="http://xichai.cn.qipeiren.com/comnewslist.asp">公司动态</a></li>
			
				<li onclick="window.location.href='productlist.asp'"><a href="http://xichai.cn.qipeiren.com/productlist.asp">产品目录</a></li>
			
				<li class="current" onclick="window.location.href='feedback.asp'">在线留言</li>
			
				<li onclick="window.location.href='contact.asp'"><a href="http://xichai.cn.qipeiren.com/contact.asp">联系方式</a></li>
			
			</ul>
		</div>
	
		<div id="ban">
			<div class="slide"> 
				 <ul style="top: -226px;" class="slide-list">
					<li><img src="message1_files/p_950_w_226_h_201292910353291890.jpg" alt="" width="950" height="226"></li><li class=""><img src="message1_files/p_952_w_226_h_20129291035354308.jpg" alt="" width="950" height="226"></li><li class=""><img src="message1_files/p_950_w_226_h_20127101522031639.jpg" alt="" width="950" height="226"></li>
			  	  </ul>
				  <ul class="slide-triggers">
					<li class="">1</li><li class="on">2</li><li class="">3</li>
				  </ul>
			</div>
		</div>
	
		<div id="crumbs"><a href="http://xichai.cn.qipeiren.com/index.asp">湖北大豪动力设备有限公司</a> &gt; 在线留言</div>
	
	</div>
	<div id="content">
		<div class="layout grid-s200m0">
			<div class="col-main">
				<div class="main-wrap">					
					<div id="content-wrap" class="box">
						<div class="hd">
							<h3>在线留言</h3>
						</div>
						<div class="bd">
							<div class="feedback cbox">
								<div class="write"><a href="http://xichai.cn.qipeiren.com/feedback.asp#add"><img src="message1_files/message.gif" alt="签写新留言" width="76" height="19"></a></div>
								
								<div class="message">
								
									<table width="100%"> 
										<tbody><tr>
										<td class="infoName" width="16%"><strong>留言客户</strong></td> 
										<td class="infoContent" width="84%"><strong>杨彦锋</strong>于<strong>2012-12-17 0:33:53</strong>的留言</td> 
									</tr>  
									<tr> 
										<td class="infoName"><strong>留言内容</strong></td> 
										<td class="infoContent">关于一汽锡柴发动机 锡柴490发动机 锡柴84马力国3发动机4DW93-84E34DW93-84E3的询问：<br> 
											<table class="reply" width="100%"> 
												<tbody><tr> 
													<td class="infoContent"> 
													<strong><span class="red">回复：</span></strong><br> 
													<textarea class="ctt" id="ds_jianzhi" name="ds_jianzhi" readonly="readonly" rows="2" cols="" style="font-family:'宋体'"></textarea>
													</td> 
												</tr> 
											</tbody></table>
										</td>
									</tr> 
									</tbody></table><br>
								

                                    <br>
								
									<table width="100%"> 
										<tbody><tr>
										<td class="infoName" width="16%"><strong>留言客户</strong></td> 
										<td class="infoContent" width="84%"><strong>王辉</strong>于<strong>2012-12-16 8:50:11</strong>的留言</td> 
									</tr>  
									<tr> 
										<td class="infoName"><strong>留言内容</strong></td> 
										<td class="infoContent">关于一汽锡柴发动机 CA4DF3-13E3F 锡柴4110发动机 锡柴130马力发动机CA4DF3-13E3F的询问：可以改大泵的吗。大约多少钱<br> 
											<table class="reply" width="100%"> 
												<tbody><tr> 
													<td class="infoContent"> 
													<strong><span class="red">回复：</span></strong><br> 
													<textarea class="ctt" id="ds_jianzhi" name="ds_jianzhi" readonly="readonly" rows="2" cols="" style="font-family:'宋体'"></textarea>
													</td> 
												</tr> 
											</tbody></table>
										</td>
									</tr> 
									</tbody></table><br>
								
									<table width="100%"> 
										<tbody><tr>
										<td class="infoName" width="16%"><strong>留言客户</strong></td> 
										<td class="infoContent" width="84%"><strong>王辉</strong>于<strong>2012-12-16 8:46:41</strong>的留言</td> 
									</tr>  
									<tr> 
										<td class="infoName"><strong>留言内容</strong></td> 
										<td class="infoContent">关于一汽锡柴发动机CA4DF2-13E3CA4DF2-13E3的询问：能改大泵吗<br> 
											<table class="reply" width="100%"> 
												<tbody><tr> 
													<td class="infoContent"> 
													<strong><span class="red">回复：</span></strong><br> 
													<textarea class="ctt" id="ds_jianzhi" name="ds_jianzhi" readonly="readonly" rows="2" cols="" style="font-family:'宋体'"></textarea>
													</td> 
												</tr> 
											</tbody></table>
										</td>
									</tr> 
									</tbody></table><br>
								
								</div>

								<div class="pages">
									 <span class="current">1</span>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=2">2</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=3">3</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=4">4</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=5">5</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=6">6</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=7">7</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=8">8</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=9">9</a>  <a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=10">10</a>  <span class="next"><a href="http://xichai.cn.qipeiren.com/feedback.asp?iPage=2">下一页 &gt;</a></span> <span style="font-size:12px">共10页/40条</span>
								</div>

								<div class="detail dl-msg">
									<table>
										<form name="testForm" method="post" action="feedback.asp" onsubmit="return vControl('CHECKFORM',this)"></form>
										<tbody><tr>
											<td class="infoName" width="15%"><strong>姓名：</strong></td>
											<td class="infoContent"><input size="30" id="Person" name="person"></td></tr>
										<tr>
											<td class="infoName" width="15%"><strong>联系电话：</strong></td>
											<td class="infoContent"><input size="30" id="Tel" name="tel"></td></tr>      
										<tr>
											<td class="infoName" width="15%"><strong>留言内容：</strong></td>
											<td class="infoContent"><textarea name="content" rows="15" id="Cnt" style="width:520px; font-family:'宋体'"></textarea></td>
										</tr>			  
										<tr>
											<td class="infoName" width="15%"><strong>验证码：</strong></td>
											<td class="infoContent"><input id="Validatecode" size="5" name="validatecode" type="text">
											<img alt="" src="message1_files/validatecode.asp" width="40" align="absmiddle" height="10"><span class="red">（正确输入验证码）</span></td>
										</tr>		  
										<tr>
											<td class="infoName" width="15%">&nbsp;</td>
											<td class="infoContent">
												<input name="button3" id="button3" value="提交留言" onclick="mode=3" type="submit">
												<input id="book_comid" name="book_comid" value="" type="hidden">
												<input id="book_comname" name="book_comname" value="" type="hidden">
												<input id="Action" value="save" name="action" type="hidden">
											</td>
										</tr>
										
									</tbody>
                                    </table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
						<div class="col-sub">
			
				<div id="years" class="box">
					<div class="m-t clearfix">
						<span class="vip"><img src="message1_files/s_vip.gif" title="汽配旺铺会员" alt="汽配旺铺会员" width="90" height="24"></span> 
						<span class="time-point-1"></span>
					</div>
					<div class="m-c">
						<ul class="namewrap clearfix">
							<li class="m"><a href="http://xichai.cn.qipeiren.com/index.asp" class="blue m">湖北大豪动力设备有限公司</a></li>
							<li class="n"><span>联系人：黄金国</span><a href="tencent://message/?Uin=1938934135"><img src="message1_files/pa_002.gif" alt="点击这里给我发消息" width="71" height="24"></a></li>
						</ul>
						<ul class="featurewrap clearfix">
							<li class="hover"><strong>主营产品：</strong>一汽锡柴发动机,锡柴490发动机,锡柴4102机器,锡柴6110机器,锡柴奥威发动机,锡柴再制造发动机...</li>
							
						</ul>				
					</div>
					<div class="m-b"></div>
				</div>
			
				<div id="search" class="box">
					<div class="hd">
						<h3>产品搜索</h3>
					</div>
					<div class="bd">
						<div class="panel clearfix">
							<form method="get" action="supplylist.asp">
								<input name="skey" id="skey" type="text"> 
								<button type="submit">搜索</button>
							</form>
						</div>
					</div>
				</div>
				
				<div class="category box">
					<div class="hd">
						<h3>产品分类</h3>
					</div>
					
					<div id="navigation" class="bd">
						<ul class="info-list clearfix">
									
							<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15090" title="一汽解放无锡柴油机厂">一汽解放无锡柴油机厂</a>
							
								<ul class="info-list clearfix hidden">
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15091" title="锡柴4缸机">锡柴4缸机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15092" title="锡柴6缸机">锡柴6缸机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15105" title="W系列发动机">W系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15106" title="X系列发动机">X系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15107" title="K系列发动机">K系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15108" title="F系列发动机">F系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15109" title="L系列发动机">L系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15110" title="M系列发动机">M系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15111" title="N系列发动机">N系列发动机</a></li>
								
								</ul>
							
							</li><li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15100" title="锡柴大豪F  L  M系列发动机">锡柴大豪F  L  M系列发动...</a>
							
								<ul class="info-list clearfix hidden">
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15102" title="大豪F系列发动机">大豪F系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15103" title="大豪L系列发动机">大豪L系列发动机</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15104" title="大豪M系列发动机">大豪M系列发动机</a></li>
								
								</ul>
							
							</li><li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15101" title="锡柴发电机组系列">锡柴发电机组系列</a>
							
								<ul class="info-list clearfix hidden">
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15112" title="缸体">缸体</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15113" title="缸盖">缸盖</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15114" title="曲轴">曲轴</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15115" title="四配套">四配套</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15116" title="高压油泵">高压油泵</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15117" title="电器件">电器件</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=15118" title="增压器">增压器</a></li>
								
									<li><a href="http://xichai.cn.qipeiren.com/supplylist.asp?classid=17956" title="锡柴发电机组">锡柴发电机组</a></li>
								
								</ul>
							
							</li>
						</ul>
					</div>
				</div>
				<div id="contact" class="box">
					<div class="hd">
						<h3>联系方式</h3>
					</div>
					<div class="bd clearfix">
						<p>联系人：黄金国<br>电话：0719-8368338<br>传真：0719-8368878<br>手机：13597870330</p>
						<p></p>
                        
					</div>
				</div>
				<div id="links" class="box">
					<div class="hd">
						<h3>友情链接</h3>
					</div>
					<div class="bd clearfix">
						<ul class="info-list clearfix">
							<li><a href="http://www.qipeiren.com/" title="汽配人网">汽配人网</a></li>
							
							<li><a href="http://www.yuchai6k.com/" title="玉柴发动机专卖网站" target="_blank">玉柴发动机专卖网站</a></li>
							
							<li><a href="http://www.hbdhdl.com/" title="湖北大豪动力设备有限公司" target="_blank">湖北大豪动力设备有限公司</a></li>
							
							<li><a href="http://hbdh1688.cn.alibaba.com/" title="阿里巴巴发动机专卖中文站" target="_blank">阿里巴巴发动机专卖中文站</a></li>
							
							<li><a href="http://hbdhdl.en.alibaba.com/" title="阿里巴巴发动机出口通国际站" target="_blank">阿里巴巴发动机出口通国际站</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" src="../static/index/check.js"></script>
		<div id="footer">
		<p><a title="湖北大豪动力设备有限公司" href="http://xichai.cn.qipeiren.com/index.asp" target="_blank">湖北大豪动力设备有限公司</a> 电话：0719-8368338 传真：0719-8368878<br>地址：湖北省十堰市白浪汽配物流广场3栋1-2号<br>技术支持：<a title="汽配人网,专业商用车配件行业商务网站" href="http://www.qipeiren.com/" target="_blank">汽配人网</a></p>
		<div class="adm"><a target="_blank" href="http://www.qipeiren.com/User/"><img src="message1_files/adm.gif" alt="#" width="69" height="21"></a></div>
	</div>
    
<div id="floatDivr" style="position: absolute; top: 572px; left: 1183px; display: none;" class="floatonline_1">
    <div class="scroll_title_1"><a title="关闭" onclick="Mouseclose()">&nbsp;</a></div>
    <div class="online_body_1">
    
    <div class="scroll_qq_1">湖北大豪 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1938934135&amp;site=qq&amp;menu=yes"><img src="message1_files/pa.gif" width="74" border="0" height="22"></a>
    </div>
    
    <div class="scroll_qq_1">锡柴发动 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=535005170&amp;site=qq&amp;menu=yes"><img src="message1_files/pa_004.gif" width="74" border="0" height="22"></a>
    </div>
    
    <div class="scroll_qq_1">企业QQ <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=800007840&amp;site=qq&amp;menu=yes"><img src="message1_files/pa_003.gif" width="74" border="0" height="22"></a>
    </div>
    
      <div class="scroll_qq_2">电话：0719-8368338</div>
      <div class="scroll_qq_2">传真：0719-8368878</div>
        <div class="scroll_qq_2">手机：13597870330</div>
    </div>
    <div class="scroll_foot3_1"></div>
</div>
<script language="JavaScript" type="text/JavaScript">
 function Mouseclose(){document.getElementById('floatDivr').style.display='none';}
$(document).ready(function(){
var floatObjr = document.getElementById('floatDivr');	
Floaters.addItem(floatObjr,screen.width-183,318);
Floaters.sPlay();
});
</script>
<span style="display:none"><script language="javascript" type="text/javascript" src="../static/index/378270.js"></script><a href="http://www.51.la/?378270" target="_blank" title="51.la 专业、免费、强健的访问统计">网站统计</a>
<img style="width:0px;height:0px" src="message1_files/go.html"><script language="javascript" type="text/javascript" src="message1_files/378264.js"></script><a href="http://www.51.la/?378264" target="_blank"><img alt="51.la 专业、免费、强健的访问统计" src="message1_files/icon_9.gif" style="border:none"></a>
<img style="width:0px;height:0px" src="message1_files/go_002.html"></span>

</body></html>