/*
Copyright 2010, Yimai Inc
MIT Licensed
build: 2010-1-6
by: liu <roccoliu@gmail.com>
*/

body, .info-list li, .login-panel button, .login-panel a, .quick-menu li, .search b, .search-panel .search-panel-field, .search-panel input, .search-panel button {
	background: url(../images_11/sprite.png) no-repeat; 
}
#top-header .nav, .nav ul, .nav li, .nav .current, .nav .current a, .nav b {
	background: url(../images_11/nav.png) no-repeat; 
}
body {
	color: #666666; background-position: 0 -165px; background-repeat: repeat-x; 
}
a {
	color: #001e4b; outline: 0; 
}
a:hover {
	color: #ff6600; 
}
a.blue:link {
	font-size: 14px; font-weight: bold; color: #06c; 
}
a.blue:visited {
	font-size: 14px; font-weight: bold; color: #06c; 
}
a.blue:hover {
	font-size: 14px; font-weight: bold; color: #ff7300; 
}
a.blue:active {
	font-size: 14px; font-weight: bold; color: #ff7300; 
}
a.white:link {
	font-weight: bold; color: #fff; 
}
a.white:visited {
	font-weight: bold; color: #fff; 
}
a.white:hover {
	font-weight: bold; color: #fff; 
}
a.white:active {
	font-weight: bold; color: #fff; 
}
.under strong{ color:#000000;}
.under a:link {
	text-decoration: underline; 
}
.under a:visited {
	text-decoration: underline; 
}
.under a:hover {
	text-decoration: underline; 
}
.under a:active {
	text-decoration: underline; 
}

.grid-s6m0e8 .main-wrap { 
	margin: 0 320px 0 240px; 
}
.grid-s6m0e8 .col-sub { 
	width: 230px; margin-left: -100%; 
}
.grid-s6m0e8 .col-extra { 
	width: 310px; margin-left: -310px; 
}
.grid-m0s8 .main-wrap { 
	margin-right: 320px; 
}
.grid-m0s8 .col-sub { 
	width: 310px; margin-left: -310px; 
}
.grid-m0s170 .main-wrap { 
	margin-right: 180px; 
}
.grid-m0s170 .col-sub { 
	width: 170px; margin-left: -170px; 
}

.box {
	position: relative; margin-bottom: 10px; 
}
.box .hd {
	height: 28px; border: 1px solid #c1ced0; 
}
.box .hd h3 {
	padding: 0 8px; font-size: 12px; line-height: 28px; color:#1E1E1E; 
}
.box .bd {
	padding: 8px; border: 1px solid #c1ced0; 
}
.box .ft .more {
	position: absolute; top: 1px; right: 8px; line-height: 28px; 
}
.box .tp, .box .tp span, .box .bt, .box .bt span {
	background: url(../images_10/img/bg1003.png) no-repeat; 
}
.box .tp {
	display: block; position: relative; height: 2px; margin-bottom: -2px; background-position: -220px 0; overflow: hidden; 
}
.box .bt {
	display: block; position: relative; height: 2px; margin-top: -2px; background-position: -220px -2px; overflow: hidden; 
}
.box .tp span {
	float: right; width: 2px; height: 2px; background-position: -218px 0; 
}
.box .bt span {
	float: right; width: 2px; height: 2px; background-position: -218px -2px; 
}

.org {
	color: #ff6600
}
.nobr {
	white-space: nowrap; 
}
.nomb {
	margin-bottom: 0; 
}
i {
	color: #999; 
}

.text-list li {
	background: url(../images_10/img/dot.gif) no-repeat; padding-left: 10px; overflow: hidden; 
}


/** ͷ�� **/
/*
#logo-login {
	position: relative; width: 950px; height: 73px; color: #000; overflow: hidden; 
}
.logo {
	display: inline; float: left; width: 138px; height: 47px; margin: 13px 15px; font-size: 0; line-height: 0; text-indent: -9999px; 
}
.logo a {
	display: block; width: 138px; height: 47px; background: url("../images_10/logo.gif") no-repeat; 
}
.logo-text {
	position: absolute; z-index: 3; top: 8px; left: 165px; 
}
.login {
	float: right; width: 368px; height: 43px; margin: 15px 0 0 0; 
}
.login legend{
	display: none; 
}
.username, .password, .username-label, .password-label, .username-input, .password-input {
	float: left; width: auto; overflow: hidden; 
}
.username-label, .password-label {
	height: 21px; line-height: 21px; padding: 0 5px; 
}
.username-input input, .password-input input {
	width: 80px; height: 19px; line-height: 19px; border: 1px solid #7f9db9; color: #666; 
}
.botton {
	float: left; width: 119px; padding: 0 0 0 5px; 
}
.btn-submit {
	float: left; width: 49px; height: 21px; border: none; background: url("../images_10/botton.jpg"); cursor: pointer; 
}
.btn-reg {
	display: inline; float: left; width: 65px; height: 21px; margin: 0 0 0 5px; background: url("../images_10/freereg.jpg"); cursor: pointer; 
}
.forget-number {
	float: right; width: auto; padding: 3px; text-align: right; 
}

#nav-search {
	position: relative; width: 950px; height: 106px; margin-bottom: 5px; overflow: hidden; 
}
.nav {
    position: absolute; z-index: 4; height: 30px; padding: 0 15px; top: 0; left: 0; font-size: 14px; 
}
.nav ul {
    width: 920px; 
}
.nav li {
    float: left; width: auto; padding: 5px 0 6px 0; text-align: center; 
}
.nav li.top-50-0-0, .nav li.top-50-0-1, .nav li.top-50-1, .nav li.top-58-0-0, .nav li.top-58-0-1, 
.nav li.top-58-1, .nav li.top-74-0-0, .nav li.top-74-0-1, .nav li.top-74-1 {
	background: url(../images_10/img/bg.gif) no-repeat; padding-top: 5px; 
}
.nav li.top-50-0-0 {
	width: 50px; background-position: 0 0; 
}
.nav li.top-50-0-1 {
	width: 50px; background-position: -200px 0; 
}
.nav li.top-50-1 {
	width: 50px; background-position: -100px 0; 
}
.nav li.top-58-0-0 {
	width: 58px; background-position: 0 -33px; 
}
.nav li.top-58-0-1 {
	width: 58px; background-position: -200px -33px; 
}
.nav li.top-58-1 {
	width: 58px; background-position: -100px -33px; 
}
.nav li.top-74-0-0 {
	width: 74px; background-position: 0 -66px; 
}
.nav li.top-74-0-1 {
	width: 74px; background-position: -200px -66px; 
}
.nav li.top-74-1 {
	width: 74px; background-position: -100px -66px; 
}
.nav li.w200 {
	width: 200px; 
}
a.toplink:link, a.toplink:visited {
	color: #000; 
}
a.toplink:hover, a.toplink:active {
	text-decoration: none; color: #000; 
}
a.toplink-ac:link, a.toplink-ac:visited {
	font-weight: bold; color: #fff; 
}
a.toplink-ac:hover, a.toplink-ac:active {
	font-weight: bold; text-decoration: none; color: #fff; 
}

.search {
	height: 78px; padding: 28px 15px 0 15px; background: url("../images_10/img/search-bg.jpg") no-repeat bottom left; 
}
.search-box {
	float: left; width: 600px; height: 27px; margin: 13px 0 5px 0; font-size: 14px; background: url("../images_10/img/searchbg.png") no-repeat; 
}
.search-box input {
	background: none; 
}
.search-box .s-text {
	display: block; float: left; width: 480px; height: 17px; padding: 5px; border: none; line-height: 19px; text-align: left; color: #666; 
}
.search-box .s-submit {
	float: left; width: 65px; height: 27px; margin: 0 0 0 12px; border: none; line-height: 29px; font-weight: bold; color: #000; 
	cursor: pointer; 
}
.search-radio {
	float: left; width: 600px; margin: 1px 0 5px 0; color: #fff; 
}

.hotkey {
    position: absolute; z-index: 5; height: 20px; padding: 0 15px; top: 76px; right: 0; color: #fff; 
}
.hotkey a {
	padding-right: 6px; 
}
.hotkey a:link, .hotkey a:visited {
	color: #fff; text-decoration: none; 
}
.hotkey a:hover, .hotkey a:active {
	color: #fff; text-decoration: underline; 
}
*/

/** ���㵼�� **/
#mini-nav {
    position: relative; width: 100%; height: 27px; 
}
#mini-nav a {
	color: #666666; 
}
#mini-nav a:hover {
	color: #ff6600; 
}
/* ��¼��� */
.login-panel {
	position: absolute; top: 2px; left: 365px; z-index: 99; 
}
.login-panel legend {
	display: none; 
}
.login-panel label {
	float: left; padding: 0 5px; height: 21px; line-height: 21px; 
}
.login-panel input {
    float: left; width: 80px; height: 19px; line-height: 19px; color: #333333; border: 1px solid #7f9db9; 
}
.login-panel button, .login-panel a {
	display: inline; float: left; height: 21px; margin-left: 5px; border: none; cursor: pointer; 
}
.login-panel button {
    width: 49px; background-position: -83px -34px; background-color: #e1782d; text-indent: -999em; 
}
.login-panel a {
    width: 65px; background-position: -15px -34px; background-color: #ff6600; text-indent: -999em; 
}
/* ��¼��Ϣ */
.login-info, .login-out, .quick-menu {
	height: 21px; margin-top: 2px; line-height: 21px; 
}
.login-info, .login-out {
	float: left; 
}
/* ��ݲ˵� */
.quick-menu {
	float: right; 
}
.quick-menu ul {
	soverflow: hidden; 
}
.quick-menu li {
	position: relative; float: left; padding: 0 10px; background-position: right -82px; 
}
.quick-menu .last {
	background: none; padding-right: 0; 
}

/** ͷ�� **/
#top-header {
	width: 100%; height: 129px; 
}
/* ��־ */
#top-header .logo-search {
	position: relative; height: 84px; 
}
.logo {
	float: left; height: 56px; padding-top: 14px; 
}
.logo img {
	vertical-align: top; 
}
.logo span {
	position: absolute; color: #000000; top: 5px; left: 159px; 
}
/* ����ѡ� */
.search {
	float: right; width: 600px; padding-top: 10px; 
}
.search b {
	position: absolute; width: 2px; height: 2px; font-size: 0; overflow: hidden; 
}
.search .tl {
	background-position: -176px 0; 
}
.search .tr {
	background-position: -174px 0; 
}
.search .bl {
	background-position: -176px -2px; 
}
.search .br {
	background-position: -174px -2px; 
}
.search-tab {
    position: relative; float: left; height: 25px; z-index: 10; 
}
.search-tab .tl {
	top: 0; left: 0; 
}
.search-tab .tr {
	top: 0; right: 0; 
}
.search-tab li {
	position: relative; float: left; 
}
.search-tab a {
	display: block; float: left; height: 25px; line-height: 25px; padding: 0 15px; color: #0066cc; text-align: center; cursor: pointer; 
}
.search-tab a:hover {
	color: #ff6600; 
}
.search-tab .current a {
    height: 23px; line-height: 23px; padding-bottom: 1px; border: 1px solid #e5e5e5; border-bottom: none; color: #ff6600; font-weight: bold; background-color: #f5f5f5; 
}
/* ������� */
.search-panel {
	clear: left; position: relative; width: 518px; border: 1px solid #e5e5e5; background-color: #f5f5f5; top: -1px; z-index: 5; 
}
.search-panel .tl {
	top: -1px; left: -1px; 
}
.search-panel .tr {
	top: -1px; right: -1px; 
}
.search-panel .bl {
	bottom: -1px; left: -1px; 
}
.search-panel .br {
	bottom: -1px; right: -1px; 
}
.search-panel form {
	float: left; padding: 3px; 
}
.search-panel .search-panel-field {
	position: relative; float: left; border-top: 1px solid #b5b5b5; border-bottom: 1px solid #d5d5d5; border-left: 1px solid #c5c5c5; background-position: -181px 0; background-color: #ffffff; z-index: 6; 
}
.search-panel-field b {
	position: absolute; width: 1px; height: 1px; font-size: 0; background-color: #f5f5f5; overflow: hidden; 
}
.search-panel-field .lt {
	top: -1px; left: -1px; 
}
.search-panel-field .lb {
	bottom: -1px; left: -1px; 
}
.search-panel input {
	float: left; width: 368px; height: 30px; line-height: 30px; padding-left: 23px; color: #999999; font-size: 14px; border: none; background: none; 
}
.search-panel button {
	float: left; width: 120px; height: 32px; border: none; background-position: -15px 0; background-color: #e1782d; text-indent: -999em; cursor: pointer; 
}
.search-panel a {
	position: absolute; top: 10px; right: -58px; 
}
/* ���� */
#top-header .nav {
	position: relative; height: 35px; line-height: 35px; font-size: 14px; font-weight: bold; background-position: 0 0; background-repeat: repeat-x; 
}
.nav ul {
	float: left; height: 35px; padding-left: 12px; color: #fff; background-position: -5px -35px; 
}
.nav li {
	display: inline; float: left; background-position: right -70px; 
}
.nav a {
	display: block; height: 35px; padding: 0 15px; color: #ffffff!important; 
}
.nav .w2 {
	width: 70px; text-align: center; 
}
.nav .w3 {
	width: 85px; text-align: center; 
}
.nav .w4 {
	width: 100px; text-align: center; 
}
.nav .last {
	background: none; 
}
.nav .current {
	background-position: 0 -105px; margin-left: -2px; 
}
.nav .current a {
	height: 30px; padding-top: 5px; line-height: 30px; color: #001e4b!important; text-decoration: none; background-position: right -140px; 
}
.nav b {
	float: right; width: 5px; height: 35px; background-position: left -35px; 
}
.nav .new {
	position: absolute; top: -10px; left: 830px; 
}
.nav .hot {
	position: absolute; top: -10px; left: 330px; 
}

/** ͷ�� **/
#list-header {
	position: relative; margin-bottom: 10px; z-index: 200; 
}
.logo-wrapper {
	position: absolute; width: 100%; padding-top: 10px; 
}
.logo-wrapper img {
	vertical-align: top; 
}
.logo-wrapper span {
	position: absolute; color: #000000; top: 3px; left: 147px; 
}
.search-pannel-c, .search-pannel-c .spl, .search-pannel-c .spr, .searchtab-list li, .searchtab-list li.selected, .searchtab-list li.selected a {
	background: url("../images_11/search_panel.png") no-repeat;
}
.search-pannel-c input, .search-pannel-c button{
	background: url("../images_11/search_panel_form.png") no-repeat;
}
.search-wrapper {
	position: relative; width: 950px; padding-top: 36px; 
}
.searchtab-mod {
	position: relative; height: 32px; padding-left: 300px; z-index: 20; 
}
.searchtab-list li {
	float: left; margin-left: -1px; padding: 3px 19px 0 18px; line-height: 29px; font-size: 12px; background-position: right -36px; z-index: 20; 
}
.searchtab-list li.first {
	background-position: -197px -70px;
}
.searchtab-list li.last {
	margin-left: 0; background-position: right -70px; z-index: 24;
}
.searchtab-list li a {
	color: #0066cc; 
}
.searchtab-list li a:hover {
	color: #ff6600; 
}
.searchtab-list li.selected {
	position: relative; margin-left: -2px; padding: 0px 5px 0 0; line-height: 27px; font-size: 14px; font-weight: bold; background-position: right 0px; z-index: 22; top: 2px; 
}
.searchtab-list li.selected a { 
	display: block; position: relative; width: 66px; padding: 6px 0 6px 6px; line-height: 20px; text-align: center; color: #ffffff!important; background-position: -248px 0; z-index: 24; 
}
.searchtab-list li a.tf { 
	width: 95px; 
}
.search-pannel-c {
	position: relative; width: 950px; height: 43px; background-position: 0 -106px; background-repeat: repeat-x; z-index: 10; color:#FFFFFF; 
}
.search-pannel-c .spl, .search-pannel-c .spr {
    display: block; position: absolute; width: 5px; height: 43px; top: 0; 
}
.search-pannel-c .spl {
    background-position: -5px -60px; left: 0; 
}
.search-pannel-c .spr {
    background-position: 0 -60px; right: 0; 
}
.search-pannel-c .serhis {
    position: absolute; width: 240px;height: 15px;top: 12px; right: 5px; overflow: hidden;
}
.search-panel-field-c {
	width: 445px; margin: 0 auto; padding-top: 7px; overflow: hidden; 
}
.search-pannel-c .serso {
	height: 26px; line-height: 26px;border: 1px solid #0066CC;padding-left: 3px; background:none; background-color:#FFFFFF;
}
.search-pannel-c a {
	 color:#FFFFFF;
}
.search-pannel-c .ser {
	float: left; width: 349px; padding-left: 3px; height: 28px; border: none; line-height: 28px; background-position: 0 0; color: #333333; overflow: hidden;
}
.search-pannel-c .buttonso {
	position: relative;  width: 88px; height: 28px;	margin-left: 5px; border: none; color: #954200; background-position: -357px 0; cursor: pointer; text-indent: -999em; 
}
.search-pannel-c button {
	position: relative; float: left; width: 88px; height: 28px;	margin-left: 5px; border: none; color: #954200; background-position: -357px 0; cursor: pointer; text-indent: -999em; 
}

/** ��˾�� **/
#shop {
	width: 230px; height: 190px; overflow: hidden; 
}
#shop .hd {
	height: 30px; line-height: 30px; border-bottom: none; 
}
#shop .bd {
	height: 150px; padding-top: 0; border-top-style: none; overflow: hidden; 
}
#shop .bd p {
	float: left; width: 145px; padding-left: 10px; line-height: 14px; overflow: hidden; 
}
.about-picture {
	float: left; width: 210px; height: 84px; overflow: hidden; padding-top:5px; border-bottom:1px dashed #FFCC99; padding-bottom:5px; 
}
.shop-title {
	float: left; width: 204px; height: 22px; padding: 2px 8px 0 0; margin-top: 8px; background: url("../images_10/openshoptit.jpg") no-repeat; 
	text-align: right; 
}
.shop-list {
	float: left; width: 207px; margin-top: 8px; 
}
.shop-list li {
	float: left; width: 190px; padding: 0 0 0 10px; background-position: -8px 0; white-space: nowrap; overflow: hidden; 
}

#register {
	width: 310px; height: 150px; overflow: hidden; 
}
#register .hd {
	height: 30px; line-height: 30px; border-bottom: none; 
}
#register .bd {
	height: 112px; padding: 0 7px 6px 7px; border-top-style: none; overflow: hidden; 
}
.reg-list {
	width: 294px; height: 112px; padding: 0; overflow: hidden; 
}
.reg-list li {
	display: inline; float: left; width: 144px; height: 36px; margin: 0 6px 2px 0; overflow: hidden; 
}
.reg-list li.last {
	margin: 0; 
}
.reg-list li.long {
	width: 294px; height: 36px; margin: 0; 
}

#supplybuy {
	background-image: url("../images_10/img/body-bg.gif"); background-repeat: no-repeat; 
}
.icon-bg {
	background-image: url("../images_10/img/hd-0905.png"); background-repeat: no-repeat; 
}
#supplybuy {
	width: 208px; height: 24px; padding: 6px 0 0 102px; overflow: hidden; 
}
#supplybuy li {
	display: inline; float: left; width: 90px; margin-right: 4px; padding-left: 12px; font-size: 14px; 
	background-position: -6px -30px; overflow: hidden; 
}
#supplybuy li.last {
	margin-right: 0; 
}


.c-ad {
	width: 630px; height: 80px; overflow: hidden; 
}
.c-ad li {
	display: inline; float: left; width: 150px; margin-right: 10px; overflow: hidden; 
}

.catagory {
	width: 630px; overflow: hidden; 
}
.catagory .nomr, .c-ad .nomr {
	margin-right: 0; 
}
.catagory .hd {
	height: 26px; background-image: url("../images_10/img/body-bg.gif") ; background-repeat: repeat-x; background-position: 0 -65px; 
}
.catagory .hd h3 {
	height: 26px; line-height: 26px; margin-left: 0; color: #fff; 
}
.cata-tit {
	display: block; position: absolute; z-index: 2; top: 3px; left: 5px; width: 92px; height: 27px; text-align: center; line-height: 27px; 
	font-size: 14px; font-weight: bold; color: #fff; background-image: url("../images_10/img/body-bg.gif") ; background-repeat: repeat-x; 
	background-position: 0px -35px; 
}
.catagory .bd {
	height: 627px; padding: 0 10px 4px 8px; overflow: hidden; 
}
.catagory-list {
	clear: left; 
}
.catagroy-item {
	float: left; width: 610px; padding-top: 5px; overflow: hidden; 
}
.catagroy-item h4 {
	font-size: 14px; height: 21px; line-height: 21px; color: #001E4B; float:left; 
}
.category-pop{
	display: inline; float: left; padding:0 5px;; height:21px; line-height: 21px; color: #ff6600; font-weight: bold; }
.category-pop a {
	display: inline; float: left; padding:0 5px; height:21px; line-height: 21px; color: #ff6600; font-weight: bold;}
.catagroy-item .havebg {
	background: #f4f4f4; 
}
.catagroy-item-block {
	float: left; width: 610px; margin-top: 5px; overflow: hidden; 
}
.catagroy-item-block li {
	float: left; width: auto; margin-right: 10px; padding: 0 0 4px; overflow: hidden; 
}

.m {
	float: left; width: 300px; 
}
.m li {
	display: inline; float: left; width: auto; margin: 4px 0 0 -1px; padding: 0 10px 0 8px; border-left: 1px #aaa solid; height: 14px; 
	line-height: 14px; white-space: nowrap; clear: none; 
}
.m li.pr20px {
	padding-right: 20px; 
}
.m li.pr30px {
	padding-right: 30px; 
}
.m li.pr40px {
	padding-right: 40px; 
}
.m li.pr50px {
	padding-right: 50px; 
}
.m li.pr60px {
	padding-right: 60px; 
}
.m li.pr70px {
	padding-right: 70px; 
}
.m li.pr80px {
	padding-right: 80px; 
}

#likeproduct .bd {
	width: 612px; height: 177px; padding: 8px 8px 0 8px; border-top: 2px solid #ff7300; overflow: hidden; 
}
.imgli {
	float: left; width: 104px; height: 172px; margin-right: 23px; overflow: hidden; 
}
.product-photo {
	width: 100px; height: 100px; padding: 1px; border: 1px solid #e5e5e5; text-align: center; overflow: hidden; 
}
.product-photo a {
	display: table-cell !important; display: block; width: 100px; line-height: 100px; height: 100px; vertical-align: middle; overflow: hidden; 
}
.product-photo img {
	max-width: 100px; max-height: 100px; *margin-top: expression(( 100 - this.height ) / 2); 
}
.text-box {
	padding-top: 4px; line-height: 15px; text-align: center; overflow: hidden; word-break: break-all; 
}
.number {
	color: #666; overflow: hidden; word-wrap: break-word; 
}

.recommend {
	width: 310px; overflow: hidden;}
.bgcolor {
	background-color: #f2f6f7; 
}
.recommend .hd {
	border-bottom: none; padding:0px; 
}
.recommend .bd {
	padding:5px 0; border-top: none; overflow: hidden; 
}
.rec-pic {
	float: left; width: 65px; height: 55px; overflow: hidden
}
.u1 {
	float: left; width: 222px; padding-left: 5px; 
}
.u2 {
	float: left; width: 292px; padding: 6px 0 0; 
}
.u1 li {
	float: left; width: 212px; height: 18px; background-position: -8px 0; 
}
.u2 li {
	float: left; width: 136px; height: 18px; background-position: -8px 0; 
}

/** ��Ӧ�����б� **/
.grid-m {
	width: 100%; overflow: hidden; 
}

#crumbs {
	height: 18px; margin: 0px; padding: 5px 8px; border: 1px solid #e2e6ea; text-align: left; background: url("/static/nav.gif") repeat-x center center;
}
#crumbs a{ color:#00349A;
}
#crumbs a:hover{ color:#FF6600;
}
#crumbs strong{ color:#000000;
}

.list-catagroy {
	width: 100%; overflow: hidden; 
}
.list-catagroy-box {
	position: relative; width: 748px;  padding: 10px;  overflow: hidden;
}
.list-catagroy-box .findby {
	clear: both; height: 20px; line-height: 20px; background: url("../images_10/img/arrow.gif") no-repeat left center; text-indent: 15px; 
}
.list-catagroy-box li {
	float: left; width: 138px; margin: 0 0; padding: 0 5px; white-space: nowrap; overflow: hidden; line-height:20px;
}
.list-catagroy-box li i {
	font-size: 0.85em; 
}

.list-content {
	width: 100%; margin:0 0; overflow: hidden; 
}
.list-content .tool {
	height: 31px; padding: 1px; background: url("../images_10/img/toolbar.gif") repeat-x center; border: 1px solid #c1ced0; color: #000; 
}
.tool-select, .tool-time, .tool-vip, .tool-contact {
	float: left; width: auto; padding: 6px 10px 0; text-align: center; 
}
.tool-time, .tool-vip, .tool-contact {
	font-weight: normal; 
}
.tool-vip {
	width: 100px; padding:0; margin-top:5px; 
}
.tool-contact {
	width: 100px; padding: 0; margin-top:5px;
}
.tool .province-city, .tool .biz-type, .tool .edit-time {
	position: relative; height: 18px; margin-top: 6px; 
}
.tool .province-city {
	float: left; width: 480px; 
}
.tool .biz-type {
	float: left; width: 100px; 
}
.tool .edit-time {
	float: left; width: 80px; 
}

.list-content .list-view {
	float: left; margin: 0 0 20px; 
}
.list-view li.list-item {
	position: relative; float: left; width: 770px; margin: 12px 0 0; padding: 0 0 12px; border-bottom: 1px dotted #cdcdcd; color: #666; overflow: hidden; 
}
.list-item .photo {
	 display: inline; float: left; width: 98px; height: 98px; border: 1px solid #e5e5e5; padding: 1px; margin: 0 10px; text-align: center; overflow: hidden; 
}
.list-item .photo a {
	display: table-cell !important; display: block; width: 98px; line-height: 98px; height: 98px; vertical-align: middle; overflow: hidden; 
}
.list-item .photo img {
	max-width: 98px; max-height: 98px; *margin-top: expression(( 98 - this.height ) / 2); 
}
.list-item .content {
	float: left; width: 340px; overflow: hidden; padding-right:20px;
}
.content h4 {
	width: 340px; font-size: 14px; line-height: 20px; 
}
.content h4 a {
	font-weight: normal; 
}
.content .info {
	padding-top: 2px; line-height: 20px; 
}
.content .release-time {
	padding-left: 10px; font-size: 12px; font-weight: normal; 
}
.vip .release-company {
	line-height:20px; width:190px; height:20px; overflow:hidden;
}
.release-area {
	text-align: left; line-height:25px;
}
.list-item .c-content {
	float: left; width: 525px; padding: 0 25px 0 10px; overflow: hidden; 
}
.c-content h4 {
	width: 525px; font-size: 14px; 
}
.c-content .info {
	padding-top: 2px; height: 36px; 
}
.list-item .vip {
	float: left; width: 190px; padding: 2px 2px 0; text-align: left; 
}
.list-item .vip_com {
	float: left; width: 100px; padding: 2px 2px 0; text-align: left; 
}
.vip strong {
	color: #001e4b; 
}
.list-item .contact-by {
	float: left; width: 70px; padding: 2px 10px 0; text-align: left; 
}
.contact-by tr td {
	height: 20px; 
}
.contact-by a.ly {
	width: 50px; padding: 0 0 1px 20px; background: url("../images_10/ly.gif") no-repeat left center; 
}
.contact-by a.lx {
	width: 50px; padding: 0 0 1px 20px; background: url("../images_10/lx.gif") no-repeat left center; 
}

.subad {
	width: 170px; height: 100px; overflow: hidden; 
}

#freereg .hd, #help .hd, #browsed .hd, #winportrec .hd, #productrec .hd {
	background: url("../images_10/img/crumbs.gif") repeat-x center center; 
}
#freereg .hd h3, #help .hd h3, #browsed .hd h3, #winportrec .hd h3, #productrec .hd h3 {
	color: #001e4b; padding-left: 10px; 
}


#freereg, #gold, #help, #browsed {
	width: 170px; overflow: hidden; 
}
#freereg .bd, #gold .bd, #help .bd, #browsed .bd {
	border-top: none; 
}

#freereg li {
	padding-left: 18px; height: 20px; line-height: 20px; background: url("../images_10/img/right.png") no-repeat left center; 
}
#freereg em {
	color: #f60; margin: 0 3px; 
}
#freereg a {
	text-decoration: none!important; 
}
#freereg .btn {
	width: 152px; height: 25px; margin: 6px 0 0; line-height: 25px; text-align: center; font-weight: bold; background: url("../images_10/img/btn.png") no-repeat 0 0;
}
#freereg .btn a {
	display: block; color: #fff; 
}

#help li {
	padding-left: 8px; line-height: 20px; background-position: -10px 2px;
}

#gold .hd {
	height: 30px; border: none; position: relative; background: url("../images_10/img/gold.gif") no-repeat left top; text-indent: -999px; 
}
#gold .hd a {
	position: absolute; width: 168px; height: 28px; top: 1px; left: 1px;
}
#gold .bd {
	padding: 0; border: none; 
}

#gold .item {
	width: 168px; margin-top: 8px; border: 1px solid #ffce94; 
}
#gold .item .imgbox { 
	position: relative; width: 168px; height: 188px; overflow: hidden; 
}
#gold .imgbox ul {
	position: absolute; width: 2000px; 
}
#gold .imgbox li {
	float: left; display: inline; 
}
#gold .imgbox img { 
	display:block; width:168px; height:188px; 
}
#gold .item p {
	padding: 5px; text-align: center; 
}

#browsed .bd {
	padding: 0 0 5px; 
}
#browsed .pair  {
	border-bottom: 1px dotted #cdcdcd; padding: 10px 0; 
}
#browsed .item  {
	float: left; width: 84px; color: #666; 
}
#browsed .pic {
	width: 55px; height: 55px; margin: 0 auto; text-align: center; overflow: hidden; 
}
#browsed .title {
	 height: 30px;margin-top: 8px; padding: 0 8px; line-height: 15px; text-align: center; overflow: hidden; white-space: normal; 
}
#browsed .clearrb  {
	margin-top: 5px; text-align: center; 
}

/** ��Ӧ������ϸ��Ϣ **/
#winportrec, #productrec {
	width: 310px; overflow: hidden; 
}
#winportrec .hd h3, #productrec .hd h3 {
	font-size: 14px; 
}
#winportrec .bd, #productrec .bd {
	padding: 8px 10px; border-top: none; 
}

.supply-title, .supply-title-ger {
	width: 100%; height: 34px; background: url("../images_10/img/title.gif") repeat-x 0 -34px; color: #fff; text-align: left; 
}
.supply-title h3, .supply-title-ger h3 {
	height: 30px; padding-top: 2px; font-size: 20px; text-align: center; 
}
.supply-title h3 {
	width: 680px; padding-right: 270px; 
}
.supply-title .b1 {
	background: url("../images_10/img/title.gif") no-repeat 0 0; 
}
.supply-title .b2 {
	background: url("../images_10/title.gif") no-repeat right top; height: 34px; 
}
.supply-content, .supply-content-ger {
	border-top: none; border-right: 1px solid #0072e3; border-bottom: 1px solid #0072e3; border-left: 1px solid #0072e3; 
	color: #333; overflow: hidden; 
}
.supply-content {
	width: 948px; 
}
.col-right { 
	float: right; width: 270px; height: 280px; padding: 10px 15px; border-left: 1px solid #ddd; background-color: #f8f8f8; 
}
.col-right li {
	height: 18px; padding: 5px 0; overflow: hidden; 
}
.col-right .t {
	height: 21px; font-size: 14px; font-weight: bold; 
}
.col-right .w {
	margin-top: 7px; height: 17px; line-height: 17px; padding-left: 20px; background: url("../images_10/img/qybg.gif") no-repeat 0 0; 
}
.col-right .l {
	margin-top: 5px; 
}
.col-right .g {
	height: 88px; line-height: 22px; color: #666; 
}
.col-left {
	float: left; width: 280px; height: 250px; padding: 10px; text-align: center; 
}
.col-left .p {
	height: 180px; 
}
.col-left .g {
	height: 30px; color: #888; 
}
.col-left .bp {
	width: 48px; height: 16px; line-height: 16px; margin: 10px auto 0; padding-left: 18px; background: url("../images_10/img/bigpic.gif") no-repeat 0 0; 
}
.col-middle {
	float: left; width: 328px; padding: 15px 0; 
}
.sinfo li {
	width: 318px; padding: 4px 5px; overflow: hidden; white-space: nowrap; 
}
.sinfo img {
	vertical-align: bottom; 
}
.sinfo .fav {
	width: 60px; height: 16px; line-height: 16px; padding-left: 18px; background: url("../images_10/img/fav.gif") no-repeat 0 0; 
}
.space-s {
	clear: both; padding-top: 10px; 
}
.supply-info {
	width: 100%; height: 30px; background: url("../images_10/img/title.gif") repeat-x 0 -132px; text-align: left; 
}
.supply-info .b1 {
	background: url("../images_10/img/title.gif") no-repeat 0 -102px; height: 30px; 
}
.supply-info .b2 {
	background: url("../images_10/img/title.gif") no-repeat right -162px; height: 30px; padding-left: 15px; 
}
.supply-info .b {
	color: #06c; 
}
.supply-info .tab {
	float: left; background: url("../images_10/img/title.gif") repeat-x 0 -252px; height: 30px; 
}
.tab li.middle {
	float: left; background: url("../images_10/img/title.gif") no-repeat 0 -192px; width: auto; height: 22px; padding: 8px 0 0 15px; 
	font-size: 14px; font-weight: bold; 
}
.tab li.right {
	float: left; background: url("../images_10/img/title.gif") no-repeat 0 -222px; width: 15px; height: 30px; 
}
.supply-infocont, .supply-infocont-ger {
	border-top: none; border-right: 1px solid #46a3ff; border-bottom: 1px solid #46a3ff; border-left: 1px solid #46a3ff; 
	color: #333; overflow: hidden; padding: 15px 24px; 
}
.supply-infocont p, .supply-infocont-ger p {
	font-size: 14px; text-align: justify; 
}
.supply-infocont p, .supply-infocont-ger p, .supply-infocont-ger li {
	line-height: 24px; 
}
.supply-infocont {
	width: 900px; 
}
.supply-infocont .imgli {
	display: inline; margin: 5px 23px; 
}
.supply-statement {
	text-align: center; padding: 20px 0 0; 
}
.supply-content-ger {
	width: 628px; 
}
.supply-infocont-ger {
	width: 580px; 
}
.productrec-list {
	width: 288px; overflow: hidden; 
}
.productrec-list .imgli {
	display: inline; margin: 5px 20px; 
}
.supply-title-ger h3 {
	width: 630px; 
}
.supply-title-ger .b1 {
	background: url("../images_10/img/title.gif") no-repeat 0 0; 
}
.supply-title-ger .b2 {
	background: url("../images_10/img/title.gif") no-repeat 615px -68px; 
}
.companyname {
	font-size: 14px; font-weight: bold; 
}
.dotline {
	height: 1px; margin: 5px 0; background: #eee; overflow: hidden; 
}

/** ҳ�� **/
#footer {
	clear: both; width: 100%; border-top: 1px solid #e5e5e5; text-align: center; line-height: 22px; 
}
.foot-nav {
	width: 700px; margin: 10px auto 0; 
}
.copyright {
	width: 480px; margin: 0 auto 10px; color: #000; 
}

/** ��ҳ **/
.pageNav {
	float: left; width: 710px; padding:30px 20px 20px 10px; font-size: 1.2em; text-align: center; 
}
.pageNav a {
	padding: 2px 5px; color: #333 !important; border: solid 1px #eaeaea; text-decoration: none !important; 
}
.pageNav a:hover {
	border: solid 1px #ff7300; 
}
.pageNav span.current {
	padding: 2px 5px; color: #fff !important; background-color: #ff7300 !important; border: 1px solid #da251d; font-weight: bold; 
}
.pageNav .pre, .pageNav .next {
	margin: 0 15px; font-weight: bold; 
}
.pre a:hover, .next a:hover {
	color: #fff!important; background-color: #ff7300 !important; 
}

.box_djdzk{ margin:10px 0px 10px 0px !important;}
.box_djdzk ul {}
.box_djdzk ul li {float: left; padding: 0 15px 0 0; white-space: nowrap; overflow: hidden; text-align:left; }

.border0{ border:0px !important; font-size:14px; background-color:#FFFFFF;}
.backgroundimg{ background:none!important; color:#000000; font-weight:normal; text-indent: 0px !important; }

/*�����Ƽ�*/
.fontweight{ font-weight:bold; color:#000000;}

.rmtj-box {
	position: relative; width: 748px;  padding: 10px; border-bottom: 1px solid #E2E6EA;  border-left: 1px solid #E2E6EA; border-right: 1px solid #E2E6EA; overflow: hidden;
}

.rmtj-box li {
	float: left; width: 104px; margin: 3px 0 0 0; padding: 0 10px;   text-align:center;
}
.rmtj-box li div{ width:100px; margin-bottom:5px;}

.bk{ border:1px solid #CCCCCC; padding:1px;}
.zired{ color:#FF0000; font-weight:bold;}

/*ɸѡ*/

.bg-x{background:url(../images_10/background-x.png);}



.icon-x,.spu-cur{background:url(../images_10/icon-x_1212.png) no-repeat scroll 0 10000px transparent;}

.btn-x{background:url(../images_10/btn-x.png) no-repeat scroll 0 10000px transparent;cursor:pointer}

.spu-line{margin:0 12px 10px;  background:url(../images_10/line_bg.png); height:1px; overflow:hidden;}

.icon-close{width:13px;height:11px;background-position:2px 0;margin-bottom:-1px;}

.icon-close-hover{background-position:2px -20px;}

.icon-more{width:15px;height:15px;background-position:0 -40px;margin:0 2px -3px 0;}

.icon-less{width:15px;height:15px;background-position:0 -60px;margin:0 2px -3px 0;}

.icon-zero-alert{width:30px;height:30px;background-position:-90px -80px;}

.icon-li-dot{width:5px;height:7px;background-position:-130px -80px;margin:0 10px 0 2px;}

.icon-b2{width:64px;height:23px;text-align:center;line-height:23px;background-position:-20px 0;border:none;cursor:pointer;}

.icon-b2-hover{background-position:-20px -40px;}

.icon-b4{display:block;width:66px;height:19px;padding:0 0 0 3px; line-height:19px;float:left;background-position:0 -80px;cursor:pointer;font-size:10px;}

.spu-similar{background-position:0 -103px;}



.spu-box dl{zoom:1;}

.spu-box dl:after{content:"\0020";display:block;height:0;clear:both;}

.spu-box{border:1px solid #ffce94;margin:10px 0; color:#000000;}
.spu-box a{ color:#00349A;}
.spu-box a:hover{ color:#FF6600;}


.spu-box-bg{background-position:0 0;height:10px;overflow:hidden; background:url(../images_10/background-x.png);}

.spu-box dl dt,.spu-box dl dd,.spu-box dl dd ul,.spu-box dl dd li,.spu-box dl dd p.spu-item-all,.spu-box dl dd p.spu-item-more{display:inline;float:left;}

.spu-box dl{margin:0 12px;padding:0 0 5px 0;line-height:20px;}

.spu-box dl dt{width:53px;font-weight:bold;}

.spu-box dl dd{width:850px;}

.spu-box ul.spu-items{width:750px;}

.spu-box dl.spu_sn ul.spu-items{width:280px;}

.spu-box a.spu-item-title{_float:left;padding:0 10px;white-space:nowrap;}.spu-box a.spu-item-title-cur{_float:left;margin:0 10px;white-space:nowrap;background-color:#36c;color:#fff;text-decoration: none;}

.spu-box a.spu-item-cur{background-color:#36c;color:#fff;white-space:nowrap;}

.spu-box a.spu-item-cur:hover{text-decoration:none;}
.spu-box .spu-li-more{display:none;}

.spu-item-all{width:48px;color:#ccc;}.spu-item-all a{margin-right:10px;}.spu-item-all span{margin-right:10px;background-color:#36c;color:#fff;}

.spu-item-more{width:44px;}.spu-item-more a:hover{text-decoration:none;}.spu-item-more a:hover span{text-decoration:underline;}

.spu-items li span{margin-left:10px;background-color:#36c;color:#fff;}

/** ����ע���¼ **/
#help_zc {
	width: 310px; margin-bottom: 5px; overflow: hidden; 
}
#help_zc a { 
	float: left; height: 34px; overflow: hidden; 
}
#help_zc a:hover{
	margin-left: -1px; padding-left: 1px; 
}
#help_zc img {
    margin-top: 0; 
}
#help_zc a:hover img {
    margin-top: -35px; 
}
#help_zc .help-reg {
	width: 170px; 
}
#help_zc .help-login {
	width: 140px; 
}
#help_zc .help-login img {
	margin-left: -170px; 
}

/** ��վ��Ʒ��̬ **/
/* ѡ� common style */
.tab-t {
	height: 29px; line-height:29px;
}
.tab-t li {
	float: left; border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; font-size: 14px; font-weight: bold; text-align: center; cursor: pointer; 
}
.tab-t .last {
	border-right: none;
}
.tab-t .selected {
	border-bottom: 1px solid #ffffff;
}
.tab-t a {
	color: #666666; 
}
.tab-t .selected a {
	color: #001e4b; 
}
.tab-t .selected a:hover {
	color: #ff6600; 
}
/* �л� */


#news {
	position: relative; width: 310px; overflow: hidden; 
}
#news .hd {
	height: 29px; border-bottom: none; 
}
#news .tab-t li {
	 width: 152px; 
}
#news .tab-t li.last {
	 width: 155px; 
}
#news .qprser {
	width: 288px; height: 25px; line-height: 25px; overflow: hidden; 
}
#news .qprser a {
	float: left; padding-left: 12px; margin-right: 12px; font-weight: bold; color: #ff6600; background:url("../images_11/sprite.png") no-repeat -202px -58px; 
}
.info-list li {
	height: 26px; line-height: 26px; padding-left: 8px; background-position: -202px -32px; white-space: nowrap; overflow: hidden; 
}
.titbgqpwp{ background:url("../images_11/titbgqpwp.png"); height:28px; line-height:28px;}
.titbgqpwp1{ background:url("../images_11/titbgqpwp.png") 0px -32px; height:28px; line-height:28px;}
.margintop10{ margin-top:10px;}
.strongh{ line-height:25px; padding-left:8px;}
.strongh a{padding-left:8px;}
.strongh strong{ font-weight:bold; color:#191919;}

/*2012-3-23 �Ҳ�Ʒ-����ܻ�����Ȥ*/
.nknhgxq{ width:948px; margin:0 auto; margin-bottom:10px; padding-bottom:8px; clear:both; overflow:hidden; border:1px solid #ECECEC; background:#ffffff;}
.nknhgxq dl dt{line-height:27px; text-align:left; padding-left:10px; margin-bottom:8px; color:#000000; font-size:14px; font-weight:bold; background:url(/images_11/15.png);}
.nknhgxq dl dd{ width:175px; float:left; background:#FFFFFF; line-height:22px; text-align:left; margin-left:10px;}
/*2012-3-23 �Ҳ�Ʒ-����ܻ�����ȤEND*/